@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #aaa;
}

th, td {
    padding: 10px;
    text-align: left;
}

form input, form textarea, form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 150px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}
